body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
}

h1{
    color: #2c3e50;
}

h2, h3{
    color: #34495e;
}

div{
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.container{
    width: 600px;
    margin-top: 30px;
}